/*
Theme Name: Fortaleza
Theme URI: https://bancofortaleza.com.bo
Author: Paul Sanchez
Author URI: https://bancofortaleza.com.bo
Description: Plantilla diseñada para portal de banco fortaleza
Tags: blog, three-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks, accessibility-ready
Version: 1.0
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: fortaleza
*/

/* Variables */
@import url("assets/css/navbar.css");
:root {
	--azul-fortaleza:#153f78;
	--naranja-fortaleza:#f18a23;
	--azul-theme:#202f5b;
	--buttons-fortaleza:#105dac;
}
/*---------------------------------------
	2.2.Typography        
-----------------------------------------*/
h1, .h1 {
	font-size: 34px;
	line-height: 40px;
}
h2, .h2 {
	font-size: 32px;
	line-height: 35px;
}
h3, .h3 {
	font-size: 28px;
	line-height: 30px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 25px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 20px;
}
h6, .h6 {
	font-size: 16px;
	line-height: 20px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.05em;
	line-height: 1.3;
	margin: 0 0 1.4rem;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote { 
	width: 100%;
	border-width: 0 0 0 5px;
	border-style: solid;
	padding: 20px;
}
blockquote::before {
	content: "\f10d";
	display: table;
	float: left;
	font-family: "FontAwesome";
	font-size: 28px;
	margin-top: 6px;
	font-weight: normal;
	width: 6%;
}
blockquote p {
	font-style: italic;
	width: 94%;
	display: table;
	font-weight: bold;
	line-height: 1.5;
}
/* img {
    height: auto;
    max-width: 100%;
} */

.screen-reader-text{
    display: none;
  }

/*---------------------------------------
	1.0.Header     
-----------------------------------------*/
.navbar-header .site-title {
  margin-bottom: 0;
  color: #fff;
}
.navbar-header .site-title a {
  color: #fff;
}
.navbar-header .site-title a:hover, .navbar-header .site-title a:focus {
  text-decoration: none;
  color: #fff;
}
.navbar-header .site-description {
    letter-spacing: 1.2px;
    margin-bottom: 0;
    color: #fff;
}
.bf-headwidget.light .bf-head-detail{
	border-width: 0 0 2px 0;
	border-style: solid;
}
.site-home-icon a{font-size:24px;}

.bf-nav-widget-area-back {
  position: relative;
}
.bf-nav-widget-area-back>img {
  margin-top: -50px;
  filter: brightness(0.8);
}
.bf-nav-widget-area-back .overlay {
  position: absolute;
  top : 10px;
  width: 100%;
}
.bf-nav-widget-area-back .inner {
    width: 100%;

}
.bf-nav-widget-area-back .notice {
  width: 600px;
  height: 300px;
}
.bf-head-detail {
  background: var(--azul-fortaleza);
  color: #fff;
  position: relative;
  z-index: 10;
  opacity: 0.8;

}

.bf-head-detail .navbar-brand {
  color: #fff;
} 

.bf-head-menu {
  background: var(--azul-fortaleza);
  color: #fff;
}
.bf-head-menu .navbar-brand {
  color: #fff;
} 

.bf-head-menu .navbar-nav > li> a {
  color: white;
  padding: 10px 22px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  transition: 2s;
}

.bf-head-menu .navbar-nav > li> a:hover, .bf-head-menu .navbar-nav > li> a:focus, .bf-head-menu .navbar-nav > .active > a, .bf-head-menu .navbar-nav > .active > a:hover, .bf-head-menu .navbar-nav> .active > a:focus {
	color: #fff;
	background: var(--naranja-fortaleza);
}

.bf-head-menu .navbar-nav > li> ul {
  padding: 0;
}
.bf-head-menu .navbar-nav > li> ul > li > a {
  color: white;
  font-size: 14px;
  background: var(--azul-fortaleza);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
/* .bf-head-menu .navbar-nav > li> ul > li > a:hover, .bf-head-menu .navbar-nav > li> ul > li > a:focus, .bf-head-menu .navbar-nav > li> ul > .active > a, .bf-head-menu .navbar-nav > li> ul > .active > a:hover, .bf-head-menu .navbar-nav > li> ul> .active > a:focus { */
.bf-head-menu .navbar-nav > li> ul > li > a:hover, .bf-head-menu .navbar-nav > li> ul > li > a:focus {
	color: #fff;
	background: var(--naranja-fortaleza);
}

.bf-home, .bf-home:hover{
  color: #ddd;
  font-size: 20px;
}
.search-file .attachment{
  display: inline;
}

/*---------------------------------------
	1.1.Aside     
-----------------------------------------*/

.aside-rigth .card-body h6, .aside-page .card-body h6, .aside-category .card-body h6 {
  font-size: large;
  text-transform: uppercase;
  color: var(--azul-fortaleza);
  font-weight: 600;
}

/*---------------------------------------
	footer 
-----------------------------------------*/

footer{
  bottom: 0;
  width: 100%;
}
/*---------------------------------------
	Pagination  
-----------------------------------------*/
.bf-search .pagination, .bf-page .pagination {
  height: 80px;
  display: flex;
  justify-content: center;
}
/* --------------------------------------
=========================================
	5.bf-sidebar
=========================================
-----------------------------------------*/

.bf-sidebar .bf-widget {
	margin-bottom: 15px;
  padding: 5px 5px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
}
.bf-sidebar .bf-wid-title {
  font-weight: bold;
	margin: -5px -5px 5px -5px;
  padding: 0;
}
.bf-sidebar .bf-wid-content {
  background: #fff;
}
.bf-sidebar.widget_media_image .bf-wid-content{
  text-align: center;
}
.bf-sidebar .bf-widget h6,  bf-sidebar .bf-widget h6 a{
  display: inline-block;
  font-size: 20px;
  padding-left: 10px;
  border-left: 4px solid var(--naranja-fortaleza);
  margin-bottom: 15px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  color: var(--azul-fortaleza);
}
.bf-sidebar .bf-widget h6 a {
  text-transform: capitalize;
  color: var(--azul-fortaleza);
}
/* --------------------------------------
=========================================
	6.bf-exchange-rate
=========================================
-----------------------------------------*/

.bf-exchange-rate {
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
}

.bf-bn-title {
  width: auto;
  height: 40px;
  display: inline-block;
  position: relative;
  z-index: 100;
  background-color: var(--naranja-fortaleza);
}
.bf-bn-title h2 {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  line-height: 39px;
  font-size: 16px;
  color: #FFF;
  height: 40px;
  box-sizing: border-box;
}

.bf-card-title h5 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--naranja-fortaleza);
}
.bf-card-title h5 a {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--naranja-fortaleza);
}
.bf-card-title:hover {
  color: var(--naranja-fortaleza);
}

.bf-exchange-rate .bf-news-slider {
  top: 5px;
  font-size: 16px;
}

.login>a, .logout>a{
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.login>a:hover, .logout>a:hover{
  color: white;
}

/* calendar widget */
.bic_calendar .table {
  margin-bottom: 0px;
}
.bic_calendar .table td {
  background: #fff; border: 1px solid #ddd; text-align: center; padding:2px;
}
.bic_calendar .table  .monthAndYear {
  font-weight: 600;
  text-transform: uppercase;
}
.bic_calendar .days-month {
  color : var(--azul-fortaleza);
}

/* badge new image */
.badge-new{
  position: absolute;
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* Estilos galeria imagen */
.bf-sidebar .gallery .gallery-item {
  width: 100%  !important;
}

.gallery .gallery-item img {
  max-width: 100%;
  height: auto;
  border: 0 !important;
}

/*--------------------------------------------------------------
## Breadcrumb
--------------------------------------------------------------*/
#breadcrumb {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	background-color: var(--azul-fortaleza);
	padding: 15px 0;
}
#breadcrumb .breadcrumb-trail .trail-items {
	margin: 0;
	padding: 0;
}
#breadcrumb ul li {
	list-style: none;
	display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 400
}
#breadcrumb ul li a{
  color: var(--naranja-fortaleza);
  font-size: 18px;
  font-weight: 500
  ;
}
#breadcrumb ul li a:hover{
  color: var(--naranja-fortaleza);
}
#breadcrumb ul li:after {
	content: '/';
	margin: 0 4px;
}
#breadcrumb ul li:last-child:after {
	content: normal;
}

.btn-breadcrumb {
  color: #fff;
  font-size: 18px;
  font-weight: 600px;
  text-transform: capitalize;
	background-color: var(--azul-fortaleza);
  border: 0px;
}
.btn-breadcrumb:hover, .btn-breadcrumb:focus {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  outline: 0px;
}
.btn-fortaleza {
  color:  var(--azul-fortaleza);
  background-color: var(--naranja-fortaleza);
  border-color:  var(--naranja-fortaleza);
  font-weight: 600 !important;
}
/* Estilos de featured */

.featured-title {
  display: inline-block;
  font-size: 20px;
  padding-left: 10px;
  border-left: 4px solid var(--naranja-fortaleza);
  margin-bottom: 15px;
  font-weight: 700;
  text-align: left;
  color: var(--azul-fortaleza);
  text-transform: capitalize;
}
.img-featured{
  height: 200px !important;
}

.welcome-title{
  color:var(--naranja-fortaleza);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  margin-bottom: 0px;
}
.welcome-name{
  color: white;
  text-transform:uppercase ;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  margin-bottom: 0px;
}
.welcome-text{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  margin-bottom: 0px;
}
.wrap-video .wp-block-video video{
  max-height: 400px;
}
.page-video .wp-block-video video{
  max-height: 200px;
}
.featured-button{
  color: var(--azul-fortaleza);
  font-size: 20px;
  padding: 0px 5px;
}
.featured-button:hover{
  text-decoration: none;
}
.title-category-index{
  color:var(--naranja-fortaleza);
}
.news-widget .news-content-text{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.news-widget .news-title-text {
  margin-bottom: 0px;
}
.news-widget .news-title-text h6 {
  margin-bottom: 0px;
  border: 0px;
  padding: 0px;
}

/* Categorias */
.bf-categories .title-category, .bf-page .title-page, .bf-search .title-page  {
  color: #fff;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

}
.bf-categories .title-container, .bf-page .title-container, .bf-search .title-container {
  background-color: var(--azul-fortaleza);
  text-align: left;
}


@media screen and (min-width: 768px){
  img.alignleft { float: left; }
  img.alignright { float: right; }    
}

@media screen and (max-width: 1280px){
  .bf-head-detail {
    opacity: 1;
  }
  .bf-nav-widget-area-back img{
    margin-top: 0px;
  }
  .bf-nav-widget-area-back .inner {
    width: 100%;
    padding: 25px 0;
  }
  .bf-nav-widget-area-back .notice {
    width: 600px;
    height: 300px;
    margin-top: -25px;
  }
} 
@media screen and (max-width: 1050px){
  .bf-nav-widget-area-back .overlay {
    background-color: var(--azul-fortaleza);
    position: relative;
    top : 0;
    width: 100%;
  }
  .bf-nav-widget-area-back .inner {
    padding: 0;
  }
  .bf-nav-widget-area-back .notice {
    margin-top: 0px;
  }
} 