




/*--------------------------------------------------------------
## Search Form
--------------------------------------------------------------*/
input.s {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}
.navigation-bar-top .search-toggle {
	display: none;
}
.search-toggle:before {
	content: '\f002';
}
.search-toggle.active:before {
	content: "\f00d";
}
.search-form {
	margin-bottom: 30px;
}
.widget .search-form {
	margin-bottom: 0;
}
.search-form .form-control {
	border-right-width: 0;
}
.search-form .input-group-prepend {
	margin-right: 0;
}
.search-form .input-group-prepend .btn-theme {
	font-size: 0;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 43px;
	border: none;
}
.search-form .input-group-prepend .btn-theme:before {
	font-family: 'FontAwesome';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f002';
	font-size: 16px;
	line-height: 16px;
	top: 50%;
	right: 50%;
	margin-top: -8px;
	margin-right: -7px;
	position: absolute;
}
.search-block {
	position: absolute;
	background-color: #ffffff;
	z-index: 10000;
	right: 30px;
	top: 100%;
	display: none;
	width: 420px;
	padding: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.search-block .search-toggle {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	cursor: default;
}
.search-block .search-toggle:before {
	display: none;
}
.search-block .search-form {
	overflow: hidden;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
}
.search-block .form-control {
	font-size: 15px;
	padding: 10px;
	border: 1px solid #cccccc;
	background-color: #fff;
}
.search-block .input-group-prepend .btn-theme {
	padding: 10px 25px;
	min-height: 46px;
	z-index: 10001;
}
.search-block .input-group-prepend .btn-theme:before {
	font-size: 16px;
	line-height: 16px;
	margin-top: -8px;
	margin-right: -8px;
}
.input-group-prepend .btn-theme{
	background: var(--azul-fortaleza);
	color: #fff;
}
/*--------------------------------------------------------------
## Navbar/Navigation
--------------------------------------------------------------*/
.bf-header .navbar {
	padding: 0;
	background-color: #ffffff;
}

.navbar-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 22px;
	padding-bottom: 22px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
.navbar-head.header-overlay-dark .container:before,
.navbar-head.header-overlay-light .container:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}
.navbar-head.header-overlay-dark .container:before {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}
.navbar-head.header-overlay-light .container:before {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}
.navbar-head.navbar-bg-set,
.navbar-head.navbar-bg-set .site-title,
.navbar-head.navbar-bg-set .site-title a,
.navbar-head.navbar-bg-set .site-description,
.navbar-head.navbar-bg-set.header-overlay-dark,
.navbar-head.navbar-bg-set.header-overlay-dark .site-title,
.navbar-head.navbar-bg-set.header-overlay-dark .site-title a,
.navbar-head.navbar-bg-set.header-overlay-dark .site-description,
.navbar-head.header-overlay-dark,
.navbar-head.header-overlay-dark .site-title,
.navbar-head.header-overlay-dark .site-title a,
.navbar-head.header-overlay-dark .site-description {
	color: #ffffff;
}
.navbar-head.navbar-bg-set.header-overlay-light,
.navbar-head.navbar-bg-set.header-overlay-light .site-title,
.navbar-head.navbar-bg-set.header-overlay-light .site-title a,
.navbar-head.navbar-bg-set.header-overlay-light .site-description {
	color: #333333;
}
.navbar-ad-section {
	text-align: right;
	padding-top: 8px;
	padding-bottom: 8px;
}
.navbar .navbar-head .col-lg-4 + .navbar-ad-section {
	margin-top: 0;
}
.navbar-ad-section .newscard-ad-728-90 {
	display: inline-block;
}
.navbar-head .navbar-head-row {
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.navigation-bar {
	background-color: var(--azul-fortaleza);
	color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.navigation-bar .container {
	position: relative;
	padding-right: 85px;
}
.navigation-bar-top {
	min-height: inherit;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}
.navbar-main {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1
}
.navbar .nav-search {
	position: absolute;
	top: 0;
	right: 30px;
	display: inline-block;
}
.navbar-toggler {
	border: none;
	padding: 10px 15px;
	color: #ffffff;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.navbar-toggler:hover,
.site-header.toggled-on .navbar-toggler,
[aria-expanded="true"].navbar-toggler {
	background-color: rgba(0, 0, 0, 0.15);
}
.navbar-toggler:focus {
	outline: none;
}
.navbar-toggler:before {
	display: block;
	font-size: 26px;
	content: '\f0c9';
	font-family: 'FontAwesome';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.collapse.in {
	display: block;
}
.navbar .navbar-collapse {
	flex-grow: 0;
}
.navbar .main-navigation ul {
	padding-left: 0;
}
.main-navigation li {
	position: relative;
	list-style: none;
	display: inline-block;
	float: left;
}
.main-navigation a {
	color: #ffffff;
	display: block;
	padding: 15px;
	font-weight: 500;
}
.main-navigation a:hover {
	text-decoration: none;
}
.main-navigation ul li.current_page_item > a,
.main-navigation ul li.current_page_ancestor > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.current-menu-ancestor > a,
.main-navigation ul li a:hover,
.main-navigation ul li a:focus,
.main-navigation ul li.show > a,
.main-navigation ul li:hover > a {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.15);
}
.main-navigation.nav-uppercase ul li a {
	text-transform: uppercase;
}
.main-navigation.nav-uppercase li ul a {
	text-transform: uppercase;
}
.main-navigation ul li.menu-item-has-children > a,
.main-navigation ul li.page_item_has_children > a {
	position: relative;
}
.main-navigation ul li.menu-item-has-children > a:after,
.main-navigation ul li.page_item_has_children > a:after {
	content: "\f0d7";
	font-family: fontawesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 50%;
	right: 15px;
	font-size: 18px;
	display: block;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	color: #ffffff;
}
.main-navigation li ul li.menu-item-has-children > a:after,
.main-navigation li ul li.page_item_has_children > a:after {
	content: "\f105";
	right: 7px;
	color: #fff;
}
.main-navigation ul li.menu-item-has-children > a,
.main-navigation ul li.page_item_has_children > a {
	padding-right: 32px;
}
.main-navigation ul li ul li.menu-item-has-children > a,
.main-navigation ul li ul li.page_item_has_children > a {
	padding-right: 18px
}
.main-navigation .dropdown-parent .dropdown-toggle {
	width: 40px;
	height: 100%;
	color: #555555;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
	text-align: center;
	display: none;
}
.main-navigation .dropdown-parent .dropdown-toggle:after {
	display: none;
}
.main-navigation .dropdown-parent .dropdown-toggle:hover {
	cursor: pointer;
}
.main-navigation .dropdown-parent .dropdown-toggle .dropdown-icon {
	display: inline-block;
	position: relative;
	height: 45px;
	width: 45px;
	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
}
.main-navigation .dropdown-parent .dropdown-toggle .dropdown-icon:after {
	content: "\f105";
	font-family: fontawesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 50%;
	right: 0;
	width: 100%;
	height: auto;
	text-align: center;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	border: none;
	font-weight: bold;
	display: block;
}
.main-navigation .dropdown-parent .dropdown-toggle.toggle-on .dropdown-icon {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

/* Dropdown */
.main-navigation ul li ul li {
	display: block;
	float: none;
}
.main-navigation ul li ul,
.main-navigation ul li:hover ul ul,
.main-navigation ul ul li:hover ul ul,
.main-navigation ul ul ul li:hover ul ul,
.main-navigation ul ul ul ul li:hover ul ul {
	display: none;
	z-index: 9999;
}
.main-navigation ul li:hover ul,
.main-navigation ul ul li:hover ul,
.main-navigation ul ul ul li:hover ul,
.main-navigation ul ul ul ul li:hover ul,
.main-navigation ul ul ul ul ul li:hover ul {
	display: block;
	background-color: var(--azul-fortaleza);
}
.main-navigation li:hover .dropdown-menu {
	display: block;
}
.main-navigation .dropdown-menu,
.main-navigation li ul {
	top:  100%;
	border:  1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	left: 0;
	z-index: 999;
	background-color: #ffffff;
	margin-top: 0;
	display: none;
	width: 200px;
}
.main-navigation .dropdown-menu a,
.main-navigation li ul a {
	color: #ffffff;
	padding: 8px 12px;
	text-transform: inherit;
	font-weight: normal;
}
.main-navigation .dropdown-menu a:hover,
.main-navigation .dropdown-menu a.current-menu-item,
.main-navigation li ul li:hover > a,
.main-navigation li ul li.current-menu-item > a,
.main-navigation li ul li.current-menu-ancestor > a,
.main-navigation ul li li.current_page_item > a,
.main-navigation li ul li.current_page_ancestor > a {
	background-color: var(--naranja-fortaleza);
}
.main-navigation ul li ul li ul,
.headernav .main-navigation ul li ul li ul {
	left: 198px;
	top: 0;
}
.main-navigation ul.sub-menu ul.sub-menu,
.main-navigation ul.children ul.children {
	top: -1px;
}
.main-navigation .dropdown-toggle:after {
	display: none;
}
.navbar-collapse .form-inline {
	margin-left: 10px;
}
.navbar-search {
	position: relative;
}
.search-toggle  {
	display: block;
	font-family: 'FontAwesome';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ffffff;
	padding: 15px;
	min-width: 45px;
	text-align: center;
	cursor: pointer;
}
.search-toggle:before {
	content: "\f002";
}
.search-toggle.active,
.search-toggle:hover,
.search-toggle:focus {
	color: #ffffff;
	text-decoration: none;
	outline: none;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.15);
}
.navbar-search .search-box {
	position: absolute;
	top: 75%;
	right: 0;
	min-width: 300px;
	text-align: right;
	z-index: 1000;
}
.navbar-search .search-box:before {
	content: "";
	height: 10px;
	width: 10px;
	display: block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1);
	background-color: #fff;
	position: absolute;
	right: 10px;
	top: -6px;
}


@media (max-width: 991px) {
	.navigation-bar .container {
		padding-right: 30px;
	}
	.navbar-ad-section {
		text-align: left;
	}
	.navigation-bar-top {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.navbar-main {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		background-color: #fff
	}
	.navigation-bar-top .search-toggle {
		display: block;
		position: absolute;
		top: 0;
		right: 30px;
		bottom: 0;
		font-size: 16px;
		padding: 10px;
		line-height: 24px;
	}
	.navigation-bar .nav-search {
		display: none;
	}
	.navigation-bar-top .search-bar {
		background-color: #ffffff;
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
		-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
		-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}
	.search-block .input-group-prepend .btn-theme {
		padding-left: 22px;
		padding-right: 22px;
	}
	.search-block {
		position: inherit;
		top: auto;
		right: auto;
		width: auto;
		padding-left: 0;
		padding-right: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		background-color: transparent;
	}
	.search-block.on {
		display: block !important;
	}
	.search-block.off {
		display: none !important;
	}
	.navbar-collapse {
		margin-left: -30px;
		margin-right: -30px;
	}
	.main-navigation {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.main-navigation li + li {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.main-navigation ul li a {
		color: #555555;
	}
	.main-navigation ul li.current_page_item > a,
	.main-navigation ul li.current_page_ancestor > a,
	.main-navigation ul li.current-menu-item > a,
	.main-navigation ul li.current-menu-ancestor > a,
	.main-navigation ul li a:hover,
	.main-navigation ul li a:focus,
	.main-navigation ul li.show > a,
	.main-navigation ul li:hover > a,
	.main-navigation .dropdown-menu a:hover,
	.main-navigation .dropdown-menu a.current-menu-item,
	.main-navigation li ul li:hover > a,
	.main-navigation li ul li.current-menu-item > a,
	.main-navigation li ul li.current-menu-ancestor > a,
	.main-navigation ul li li.current_page_item > a,
	.main-navigation li ul li.current_page_ancestor > a {
		background-color: transparent;
	}
	.main-navigation ul li.menu-item-has-children > a,
	.main-navigation ul li ul li.menu-item-has-children > a,
	.main-navigation ul li.page_item_has_children > a,
	.main-navigation ul li ul li.page_item_has_children > a {
		padding-right: 45px;
	}
	.main-navigation ul li.menu-item-has-children > a:after,
	.main-navigation li ul li.menu-item-has-children > a:after,
	.main-navigation ul li.page_item_has_children > a:after,
	.main-navigation li ul li.page_item_has_children > a:after {
		content: "\f107";
		color: #555555;
		right: 30px;
		font-weight: 400;
		display: none;
	}
	.main-navigation .dropdown-parent.menu-item-has-children > a,
	.main-navigation .dropdown-parent.page_item_has_children > a {
		padding-right: 80px;
	}
	.main-navigation .dropdown-parent .dropdown-toggle { 
		display: block;
		height: 45px;
		width: 80px;
	}
	.main-navigation .dropdown-parent .sub-menu,
	.main-navigation .dropdown-parent .children {
		display: none;
	}
	.main-navigation .dropdown-parent .sub-menu.dropdown-active,
	.main-navigation .dropdown-parent .children.dropdown-active {
		display: block;
	}
	.navbar-collapse .main-navigation ul li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.main-navigation ul li a {
		padding-left: 30px;
		padding-right: 30px;
	}
	.main-navigation ul li ul li a {
		padding-left: 60px;
	}
	.main-navigation ul li ul li ul li a {
		padding-left: 90px;
	}
	.main-navigation ul li ul li ul li ul li a {
		padding-left: 120px;
	}
	.main-navigation ul li ul li ul li ul li ul li a {
		padding-left: 150px;
	}
	.main-navigation li ul {
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		display: block;
		border-width: 1px 0 0;
	}
	.main-navigation ul li ul li ul,
	.headernav .main-navigation ul li ul li ul {
		left: auto;
	}
	.main-navigation ul li ul,
	.main-navigation ul ul li ul,
	.main-navigation ul ul ul li ul,
	.main-navigation ul ul ul ul li ul,
	.main-navigation ul ul ul ul ul li ul {
		display: block;
	}
	.main-navigation ul li ul,
	.main-navigation ul li:hover ul ul,
	.main-navigation ul ul li:hover ul ul,
	.main-navigation ul ul ul li:hover ul ul,
	.main-navigation ul ul ul ul li:hover ul ul {
		display: block;
	}
	.main-navigation ul.sub-menu ul.sub-menu,
	.main-navigation ul.children ul.children {
		top: auto;
	}
	.featured-section .featured-post .post-block .entry-header {
		padding: 15px 15px 12px;
	}
	.featured-section .featured-slider .post-block .entry-header {
		padding: 20px 20px 17px;
	}
	.featured-section .featured-slider .post-block .post-img-wrap:before,
	.featured-style-2 .featured-slider .post-block .post-img-wrap:before {
		padding-top: 60%;
	}
	.featured-style-2 .featured-slider .post-block .post-img-wrap {
		height: auto;
	}
	.widget-area .sticky-wrapper,
	.widget-area .sticky-wrapper.is-sticky {
		height: auto !important;
	}
	.widget-area .sticky-wrapper .sticky-sidebar,
	.widget-area .sticky-wrapper.is-sticky .sticky-sidebar {
		width: 100% !important;
		position: relative !important;
		top: auto !important;
	}
}


@media (min-width: 1800px) {
	.bf-header .container {
		max-width: 1740px;
	}
}


/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/
.assistive-text,
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	width: 1px;
}